body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
  position:fixed;
  width:100%;
}

.tnw-logo {
  display: none;
}

.search {
  border-left: 1px solid #eee;
  width: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

.header-list-1 {
  background: #131313;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.news-terms {
  width: 74%;
  padding-left: 1%;
}

.news-terms ul {
  padding: 0;
}

.news-terms li {
  float: left;
  list-style: none;
}

.bg-yellow a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  box-shadow: #d6d6d2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.news-terms li a {
  color: #929292;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
}

.active-link {
  color: #fff;
}

.news-terms ul li :hover {
  color: #fff;
}

.sub-menu {
  display: none;
  width: 200px;
}

.sub-menu li {
  float: none;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

.news-terms ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: #000;
}

.about-contacts li {
  display: inline-block;
  list-style: none;
}

.latest {
  width: 95%;
}

.latest li {
  float: left;
  list-style: none;
}

.news-terms ul li:hover .sub-menu li {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.about-contacts {
  width: 25%;
}

.about-contacts li a {
  color: #929292;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 3px;
  font-weight: 700;
}

.about-contacts ul li :hover {
  color: #fff;
}

.header-list-2 {
  display: flex;
  padding-bottom: 15px;
  background: #fcfcfc;
}

.latest ul {
  padding-left: 15px;
}

.latest li a {
  color: #aaa;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding: 0 10px;
}

.latest ul li :hover {
  color: #000;
}

.bg-yellow {
  background-color: #e8c602;
  height: 20px;
  width: 98%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2%;
}

.header-list-3 {
  display: flex;
  padding-bottom: 15px;
  background: #fcfcfc;
}

.checkbtn {
  float: right;
  margin-right: 40px;
  cursor: pointer;
  padding-top: 15px;
  display: none;
}

.clear {
  clear: both;
}

@media (max-width: 1213px) {
  .disp-none {
    display: none;
  }

  .about-contacts {
    width: 25%;
    margin: 0;
    padding: 0;
  }

  .news-terms {
    width: 75%;
  }

  .news-terms ul li {
    padding-bottom: 10px;
  }

  .about-contacts ul {
    margin: 0;
    padding: 0;
  }

  .about-contacts ul li {
    display: inline-block;
    padding-top: 15px;
  }

  .about-contacts ul li a {
    padding-left: 3px;
  }
}

@media (max-width: 1023px) {
  .tnw-logo {
    display: block;
    width: 15%;
    float: left;
  }

  .tnw-logo img {
    width: 100%;
  }

  .container-1 {
    width: 85%;
    float: left;
    margin: 0;
    padding: 0;
  }

  .bg-yellow {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .bg-yellow a {
    padding-left: 150px;
  }

  .news-terms {
    width: 65%;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0;
  }

  .news-terms ul {
    margin-top: 15px;
    padding: 0;
  }

  .about-contacts li {
    float: left;
    padding-bottom: 20px;
  }

  .news-terms ul li {
    padding-left: 5px;
  }

  .news-terms ul li a {
    font-size: 12px;
    font-weight: 700;
  }

  .about-contacts {
    width: 35%;
  }

  .about-contacts ul {
    margin: 0;
  }

  .about-contacts ul li a {
    padding-left: 3px;
    font-size: 12px;
    font-weight: 700;
  }

  .latest {
    float: left;
    width: 98%;
  }

  .latest ul li a {
    padding-left: 5px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .container-1 {
    display: none;
  }

  .tnw-logo {
    width: 60px;
    position: fixed;
  }

  .bg-yellow {
    margin-top: 11px;
    padding: 10px 0 10px 0;
  }

  .bg-yellow a {
    margin: 0;
    padding-left: 100px;
  }

  .cover {
    float: none;
    margin: 0; 
    height:70px;
    width: 100%;
  }

  .cover a h5 {
    display: none;
  }

  .cover a h2 {
    padding: 0;
    font-size: 10px;
    margin: 0;
  }

  .tnw-events {
    margin: 0;
    width: 100%;
    height: 20px;
    float: none;
  }

  .tnw-events a h2 {
    padding: 0;
    margin: 0;
  }

  .tnw-AI {
    margin: 0;
    float: none;
    width: 100%;
    height: 20px;
  }

  .tnw-AI a h2{
    padding: 0;
  }
}

@media (max-width: 800px) {
  .about-contacts {
    display: none;
  }

  .news-terms {
    width: 100%;
  }
}

.srch {
  border-right: 1px solid #929292;
  border-left: 1px solid #929292;
  padding-left: 12px;
}

.bars {
  color: red;
  margin-left: 10px;
}

.cover {
  background-image: url(../image/web-designers.PNG);
  background-size: 100%;
  float: left;
  margin-top: 135px;
  margin-left: 1%;
  height: 400px;
  width: 64%;
}

.cover a {
  text-decoration: none;
}

.cover a h5 {
  color: white;
  padding-top: 150px;
  margin-left: 10px;
}

.cover a h2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  margin-left: 10px;
}

.cover ul {
  display: flex;
  background: #000;
}

.cover ul li {
  color: #929292;
  list-style: none;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.cover ul li a {
  color: #929292;
}

.cover ul li a:hover {
  color: #fff;
}

.tnw-events {
  background-image: url(../image/tnw-events.jpg);
  background-size: 100%;
  margin-top: 135px;
  width: 34%;
  height: 200px;
  float: right;
  margin-right: 5px;
}

.tnw-events a {
  text-decoration: none;
}

.tnw-events a h2 {
  color: white;
  padding-top: 40px;
  text-align: left;
  padding-left: 10px;
}

.tnw-events ul {
  display: flex;
  background: #000;
}

.tnw-events ul li {
  color: #929292;
  list-style: none;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.tnw-events ul li a {
  color: #929292;
}

.tnw-events ul li a:hover {
  color: #fff;
}

.tnw-AI {
  background-image: url(../image/AI-tnw.png);
  background-size: 100%;
  margin-top: 10px;
  float: right;
  width: 34%;
  height: 200px;
  margin-right: 5px;
}

.tnw-AI a {
  text-decoration: none;
}

.tnw-AI a h2 {
  color: white;
  padding-top: 80px;
  text-align: left;
  padding-left: 10px;
}

.tnw-AI ul {
  display: flex;
  background: #000;
}

.tnw-AI ul li {
  color: #929292;
  list-style: none;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.tnw-AI ul li a {
  color: #929292;
}

.tnw-AI ul li a:hover {
  color: #fff;
}

