body {
  margin: 90px 0 0 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background: #fff;
}

.tnw-logo {
  display: none;
}

.search {
  border-left: 1px solid #eee;
  width: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

.header-list-1 {
  background: #131313;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.news-terms {
  width: 74%;
  padding-left: 1%;
}

.news-terms ul {
  padding: 0;
}

.news-terms li {
  float: left;
  list-style: none;
}

.bg-yellow a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  box-shadow: #d6d6d2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article-1 a {
  text-decoration: none;
}

.article-2 a {
  text-decoration: none;
}

.article-3 a {
  text-decoration: none;
}

.text-grey a {
  color: #a3a3a3;
  text-decoration: none;
  font-weight: 400;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}

.latest-deals a {
  color: #ff3c3c;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
}

.news-terms li a {
  color: #929292;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
}

.active-link {
  color: #fff;
}

.news-terms ul li :hover {
  color: #fff;
}

.sub-menu {
  display: none;
  width: 200px;
}

.sub-menu li {
  float: none;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

.news-terms ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: #000;
}

.about-contacts li {
  display: inline-block;
  list-style: none;
}

.latest {
  width: 95%;
}

.latest li {
  float: left;
  list-style: none;
}

.news p a {
  color: #000;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.pos-abs h2 {
  padding: 0;
  margin: 0;
}

.pos-abs h2 a {
  color: #fff;
  font-size: 18px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.latest-deals h2 a {
  font-size: 30px;
  font-weight: 700;
  float: left;
}

.latest-news p a {
  color: #f42;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.latest-deals p a {
  float: right;
  padding-right: 30px;
  padding-bottom: 10px;
}

.deal-1 p a {
  text-decoration: none;
  color: #000;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

.article-1 ul li a {
  color: #929292;
}

.article-2 ul li {
  color: #929292;
  list-style: none;
  padding-left: 10px;
  padding-top: 0;
}

.article-3 ul li {
  color: #929292;
  list-style: none;
  padding-left: 10px;
  padding-top: 0;
}

.article-1 ul li {
  color: #929292;
  list-style: none;
  padding-left: 10px;
  padding-top: 0;
}

.news-1 ul li {
  color: #ff3c3c;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 10px;
}

.news-terms ul li:hover .sub-menu li {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.about-contacts {
  width: 25%;
}

.about-contacts li a {
  color: #929292;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 3px;
  font-weight: 700;
}

.about-contacts ul li :hover {
  color: #fff;
}

.header-list-2 {
  display: flex;
  padding-bottom: 15px;
  background: #fcfcfc;
}

.latest ul {
  padding-left: 15px;
}

.latest li a {
  color: #aaa;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding: 0 10px;
}

.latest ul li :hover {
  color: #000;
}

.bg-yellow {
  background-color: #e8c602;
  height: 20px;
  width: 98%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2%;
}

.header-list-3 {
  display: flex;
  padding-bottom: 15px;
  background: #fcfcfc;
}

.checkbtn {
  float: right;
  margin-right: 40px;
  cursor: pointer;
  padding-top: 15px;
  display: none;
}

.clear {
  clear: both;
}

.article-1::before {
  background: #000;
  content: ' ';
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.article-1 {
  background-image: url(../image/web-designers.PNG);
  background-size: 100%;
  float: left;
  margin-top: 45px;
  margin-left: 1%;
  height: 400px;
  opacity: 0.8;
  width: 64%;
  position: relative;
}

.article-1::after {
  background: #000;
  content: ' ';
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.pos-abs h5 {
  color: #fff;
  font-size: 14px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.latest-news h5 {
  color: #f42;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500px;
  padding-top: 10px;
  padding-left: 8px;
  margin: 0;
  width: 77%;
  float: left;
}

.article-1 a h5 {
  color: #fff;
  padding-top: 100px;
  margin-left: 10px;
}

.news-section h2 {
  color: #ff3c3c;
  font-family: avalon, sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.news-1 h2 {
  color: #ff3c3c;
  font-size: 28px;
  font-family: Avalon, sans-serif;
  font-weight: 700;
}

.article-1 a h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
}

.article-1 ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.article-2 ul li a {
  color: #929292;
}

.article-3 ul li a {
  color: #929292;
}

.news-1 ul li a {
  color: #555;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.text-grey a:hover {
  color: #555;
}

.news p a:hover {
  color: #f42;
  text-decoration: underline;
}

.pos-abs h2 a:hover {
  text-decoration: underline;
}

.latest-news p a:hover {
  text-decoration: underline;
}

.deal-1 p a:hover {
  color: #f42;
}

.article-1 ul li a:hover {
  color: #fff;
}

.article-2::before {
  background: #000;
  content: ' ';
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.article-2 {
  background-image: url(../image/tnw-events.jpg);
  background-size: 100%;
  width: 34%;
  height: 195px;
  float: right;
  opacity: 0.8;
  margin-top: 45px;
  margin-right: 5px;
  position: relative;
}

.article-2::after {
  background: #000;
  content: ' ';
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.article-2 a h2 {
  color: #fff;
  padding-top: 20px;
  text-align: left;
  padding-left: 10px;
}

.article-2 ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.article-2 ul li a:hover {
  color: #fff;
}

.article-3::before {
  background: #000;
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.article-3 {
  background-image: url(../image/AI-tnw.png);
  background-size: 100%;
  margin-top: 5px;
  float: right;
  opacity: 0.8;
  width: 34%;
  height: 200px;
  margin-right: 5px;
  position: relative;
}

.article-3::after {
  background: #000;
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.article-3 a h2 {
  color: #fff;
  padding-top: 60px;
  text-align: left;
  padding-left: 10px;
}

.article-3 ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.article-3 ul li a:hover {
  color: #fff;
}

.news-section {
  width: 1200px;
  margin: 0 auto;
  padding-top: 500px;
  align-items: center;
}

.news-section h2:hover {
  color: #000;
}

.news {
  width: 24%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.clear-1 {
  clear: both;
}

.text-grey {
  color: #a3a3a3;
  font-weight: 400;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
}

.news-expanded {
  width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
}

.news-1 {
  width: 30%;
  float: left;
  position: relative;
  padding-right: 20px;
  margin-bottom: 70px;
}

.news-1 h2:hover {
  color: #000;
}

.news-1 img {
  position: absolute;
  height: 250px;
}

.pos-abs::before {
  background: #000;
  content: ' ';
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.pos-abs {
  position: relative;
  padding-top: 80px;
  padding-bottom: 24px;
  padding-left: 10px;
  z-index: 1;
}

.pos-abs::after {
  background: #000;
  content: ' ';
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.latest-news {
  background-color: #ffded8;
}

.latest-news p {
  padding-left: 10px;
  float: left;
  width: 77%;
}

.latest-news img {
  width: 20%;
  height: 80px;
  float: none;
}

.news-1 ul li a:hover {
  color: #000;
}

.latest-deals {
  width: 1200px;
  margin: 0 auto;
}

.deal-1 {
  width: 24%;
  float: left;
  padding-right: 10px;
}

@media (max-width: 1213px) {
  .disp-none {
    display: none;
  }

  .about-contacts {
    width: 25%;
    margin: 0;
    padding: 0;
  }

  .news-terms {
    width: 75%;
  }

  .news-terms ul li {
    padding-bottom: 10px;
  }

  .about-contacts ul {
    margin: 0;
    padding: 0;
  }

  .about-contacts ul li {
    display: inline-block;
    padding-top: 15px;
  }

  .about-contacts ul li a {
    padding-left: 3px;
  }

  .news-section {
    width: 90%;
    margin-left: 20px;
    padding-top: 500px;
  }

  .news {
    width: 30%;
    padding-right: 10px;
  }

  .clear-1 {
    display: none;
  }

  .clear-2 {
    clear: both;
  }

  .news-expanded {
    width: 100%;
  }

  .news-1 {
    width: 40%;
    padding-left: 10px;
  }

  .news-1 img {
    width: 94%;
  }

  .pos-abs {
    width: 98%;
  }

  .pos-abs h2 {
    padding: 0;
    margin: 0;
  }

  .latest-news img {
    width: 20%;
  }

  .latest-deals {
    width: 90%;
    margin-left: 20px;
  }

  .deal-1 {
    width: 30%;
  }

  .latest-deals .clear {
    display: none;
  }
}

@media (max-width: 1023px) {
  .tnw-logo {
    display: block;
    width: 15%;
    float: left;
  }

  .tnw-logo img {
    width: 100%;
  }

  .container {
    width: 85%;
    float: left;
    margin: 0;
    padding: 0;
  }

  .bg-yellow {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .bg-yellow a {
    padding-left: 150px;
  }

  .news-terms {
    width: 65%;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0;
  }

  .news-terms ul {
    margin-top: 15px;
    padding: 0;
  }

  .about-contacts li {
    float: left;
    padding-bottom: 20px;
  }

  .news-terms ul li {
    padding-left: 5px;
  }

  .news-terms ul li a {
    font-size: 12px;
    font-weight: 700;
  }

  .about-contacts {
    width: 35%;
  }

  .about-contacts ul {
    margin: 0;
  }

  .about-contacts ul li a {
    padding-left: 3px;
    font-size: 12px;
    font-weight: 700;
  }

  .latest {
    float: left;
    width: 98%;
  }

  .latest ul li a {
    padding-left: 5px;
    font-size: 12px;
  }

  .news-section {
    width: 90%;
    margin-left: 20px;
    padding-top: 500px;
  }

  .news {
    width: 30%;
    padding-right: 10px;
  }

  .clear-1 {
    display: none;
  }

  .clear-2 {
    clear: both;
  }

  .news-expanded {
    width: 90%;
    margin-left: 12px;
    padding-top: 100px;
  }

  .news-1 {
    width: 40%;
  }

  .news-1 img {
    width: 92%;
  }

  .pos-abs {
    width: 97%;
  }

  .pos-abs h2 {
    padding: 0;
    margin: 0;
  }

  .latest-news img {
    width: 20%;
  }

  .latest-deals {
    width: 90%;
    margin-left: 20px;
  }

  .deal-1 {
    width: 30%;
  }

  .latest-deals .clear {
    display: none;
  }
}
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .container {
    display: none;
  }

  .tnw-logo {
    width: 60px;
    position: fixed;
  }

  .bg-yellow {
    margin-top: 11px;
    padding: 10px 0 10px 0;
  }

  .bg-yellow a {
    margin: 0;
    padding-left: 100px;
  }

  .article-1 {
    float: none;
    margin: 0;
    height: 90px;
    position: relative;
    width: 100%;
  }

  .article-1 a h5 {
    display: none;
  }

  .latest-deals h2 {
    padding-bottom: 5px;
  }

  .pos-abs h2 {
    padding: 0;
    margin: 0;
  }

  .article-1 a h2 {
    font-size: 20px;
    padding-top: 20px;
  }

  .article-1 ul {
    margin-top: 0;
  }

  .article-2 {
    margin: 10px 0 0 0;
    width: 100%;
    height: 90px;
    float: none;
  }

  .article-2 a h2 {
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
  }

  .article-2 ul {
    margin-top: 0;
  }

  .article-3 {
    margin: 10px 0 0 0;
    float: none;
    width: 100%;
    height: 90px;
  }

  .article-3 a h2 {
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
  }

  .article-3 ul {
    margin-top: 0;
  }

  .news-section {
    width: 80%;
    padding: 0;
    margin-left: 10px;
    align-items: left;
  }

  .news img {
    width: 100px;
    float: left;
    padding-right: 10px;
    margin: 0;
  }

  .news {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    padding: 0;
  }

  .news p {
    margin: 0;
    padding: 0;
  }

  .news p a {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  .text-grey {
    font-size: 12px;
  }

  .news-expanded {
    width: 100%;
  }

  .news-1 {
    width: 80%;
  }

  .news-1 img {
    width: 94%;
  }

  .latest-news {
    margin-top: 5px;
  }

  .latest-news img {
    width: 20%;
  }

  .pos-abs {
    padding-bottom: 50px;
    width: 97%;
  }

  .latest-deals {
    width: 90%;
    padding: 0;
    margin-left: 10px;
    align-items: left;
  }

  .deal-1 {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }

  .deal-1 img {
    width: 100px;
    float: left;
    padding-right: 10px;
    margin: 0;
  }

  .deal-1 p a {
    margin: 0;
    padding: 0;
    float: none;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .about-contacts {
    display: none;
  }

  .news-terms {
    width: 100%;
  }
}

.srch {
  border-right: 1px solid #929292;
  border-left: 1px solid #929292;
  padding-left: 12px;
}

.bars {
  color: #f31212;
  margin-left: 10px;
}
