body{
    margin:0;
    padding:0;
}
header{
    margin:0;
    padding:0;
}
.tnw-logo{
    display:none;
}
.search{
    display:none;
    border-left:1px solid #eee;
}
.search a i :hover{
    color:#000;
}
.container-2{
    display: none;
}
@media (max-width:1200px){
    .tnw-logo{
        display:block;
        width:146px;
        float:left;
    }
    .tnw-logo img{
        width:100%;
    }
    .container-1{
        display: none;
    }
    .container-2{
        display: block;
    }
    .news-terms ul li a{
        font-size:12px;
    }
    .about-contacts{
        width:40%
    }
    .about-contacts li{
        display: inline-block;
    }
    .about-contacts ul li a{
        padding-left:3px;
        font-size:12px;
    }
    .latest{
        float:left;
    }
    .latest ul li{
        padding:0
    }
    .latest ul li a{
        padding-left:10px;
        font-size:12px;
    }
    .news-terms{
        padding-bottom: 15px;
    }
    .about-contacts ul{
        margin:0;
        padding:15px 0;
    }
    .header-list-3{
        padding:0;
        margin:0;
    }
    .search{
        display:block;
        padding-top:15px;
        margin-left:300px;
        margin-right:20px
    }
    .bg-yellow a{
        padding-left:150px;
    }
}
@media (max-width:1300px){
    .container-1{
        display: none;
    }
    .container-2{
        display: block;
    }
    .search{
        display:block;
        padding-top: 15px;
        padding-left:25px;
        margin-left:300px;
    }
    .about-contacts{
        width:40%
    }
    .about-contacts li{
        display: inline-block;
    }
    .about-contacts ul li a{
        padding-left:3px;
    }
}   
.header-list-1{
    background:#131313;
    display:flex;
    margin:0;
    padding:0;
}
.news-terms{
    width:75%
}
.news-terms ul{
    padding: 0;
}
.news-terms li{
    float: left;
    list-style: none;
    padding-left:15px;
}
.news-terms li a{
    color: #929292;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.active-link{
    color:#fff;  
}
.news-terms ul li :hover{
    color:#fff;
}
.sub-menu {
    display:none;
    width:200px;
}
.sub-menu li{
    float: none;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}
.news-terms ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color:#000;
}
.news-terms ul li:hover .sub-menu  li{
    padding: 10px;
    border-bottom: 1px solid #aaa;
}
.about-contacts{
    width: 25%;
}
.about-contacts ul{
    margin-left:55px;
}
.about-contacts li{
    display:inline-block;
    list-style:none;
}
.about-contacts li a{
    color: #929292;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}
.about-contacts ul li :hover{
    color:#fff;
}
.header-list-2{
    display:flex;
    padding-bottom: 15px;
    background:#fcfcfc;
}
.latest{
    width:70%;
}
.latest ul{
    padding:5px;
}
.latest li{
    float:left;
    list-style: none;
    padding:0 10px;
}
.latest li a{
    color: #aaa;
    font-family: Shentox,sans-serif;
    font-size:13px;
    text-decoration: none;
}
.latest ul li :hover{
    color:#000;
}
.kicks-off{
    width:40%;
    border-left:1px solid #eee;
}
.kicks-off li{
    float: left;
    list-style: none;
    padding-left: 15px;
    font-size: 15px;
}
.kicks-off li a{
    text-decoration:none;
}
.kicks-off ul li .number{
    font-size:20px;
    color:#fc0307;
}
.kicks-off li button{
    background:#0cc;
    border-radius:3px;
    border: none;
    padding:5px;
    color: #fff;
    font-weight:700;
    font-size:13px;
}
.kicks-off ul li button:hover{
    background-color: #99009e;
}
.bg-yellow{
    background-color:#e8c602;
    height:20px;
    padding:10px 12px;
}
.bg-yellow a{
    text-decoration:none;
    color:#000;
    font-size:15px;
    box-shadow: #d6d6d2;
    font-family: Verdana;
}
.header-list-3{
    display:flex;
    padding-bottom: 15px;
    background:#fcfcfc;
}
.latest{
    width:70%;
}
.latest ul{
    padding:5px;
}
.latest li{
    float:left;
    list-style: none;
    padding:0 10px;
}
.latest li a{
    color: #aaa;
    font-family: Shentox,sans-serif;
    font-size:13px;
    text-decoration: none;
}
.latest ul li :hover{
    color:#000;
}
